/*
light: rgb(47, 99, 255);
dark: rgb(4, 0, 195);
midtone: rgb(0, 126, 189); */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #777;
  background-image:
    linear-gradient(
      to right bottom,
      rgba(200, 200, 200, 0.5),
      rgba(255,255,255,0.5)),
      url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.container{
      filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.5));
    }
.header {
  height: 100vh;
  background-image:
  linear-gradient(
    to right bottom,
    rgba(200, 200, 200, 0.5),
    rgba(255,255,255,0.5)),
    url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
}
.sticky{
  position: fixed;
  top: 0%;
  width: 100%
}
.header-tabs{
  text-align: right;
  white-space: nowrap;
}
hr{
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.header-tabs a{
  color: #111;
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  border-bottom: 5px #18c;
}
.header-tabs a:hover{
  animation: hover-tag .5s ease-in;
  -webkit-animation: hover-tag .5s ease-in;
  animation-fill-mode: forwards;
}

.about-container{
  padding-left: 10%;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  background-color: #eee;
}
#gallery-carousel-exterior{
  width: 50%;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.4);
  border-radius: .3em;
}
#gallery-carousel-exterior img, .carousel-inner{
  border-radius: .3em;
  box-shadow:
}
