/*
light: rgb(47, 99, 255);
dark: rgb(4, 0, 195);
midtone: rgb(0, 126, 189); */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #777;
  background-image:
  linear-gradient(
    to right bottom,
    rgba(200, 200, 200, 0.5),
    rgba(255,255,255,0.5)),
    url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.container{
      filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.5));
    }
.header {
  height: 100vh;
  position: relative;
}
.sticky{
  position: fixed;
  top: 0%;
  width: 100%
}
.header-tabs{
  text-align: right;
  white-space: nowrap;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 5;
}
hr{
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.header-tabs a{
  color: #111;
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  border-bottom: 5px #18c;
}
.header-tabs a:hover{
  animation: hover-tag .5s ease-in;
  -webkit-animation: hover-tag .5s ease-in;
  animation-fill-mode: forwards;
}
.historyContainer{
  background-color: #eee;
}
.contactContainer{
  background-color: #eee;
}
.oneLine{
}
.messageInput{
  font-size: 20px;
}
.transparentContainer{
  width: 100%;
  height: 400px;
  background-color: transparent;
}
.aboutContainer{

}
img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.imageContainer {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}
.infoContainer{
  margin-left: 15%;
  margin-right: 15%;
  color: black;
  background-color: #eee;
  padding: 2em;
  border-radius: .5em;
  box-shadow: 8px 7px 23px 5px rgba(122,122,122,0.8);
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
